body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(90deg, #41ca58 0%, #4a7fc8 100%);
  font-family: "Courier New", Courier, monospace;


}

.card{
    
}